
button {
    width: auto;
    left: auto;
}
.player img{
    width: 70px;
    height: 70px;
    display:block;
    margin:auto;
} 
/* player flex children */
.flex-player-child-1{
    height: 100px;
    width: 100px;
}
.flex-player-child-2{
    height: 100px;
    width: 100px;
}
.flex-player-child-3{
    height: 100px;
    width: 100px;
}

