.player {
    top: 10px;
    left:10px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    height: 200px;
}
button {
    width: 100px;
    left: 100px;
}
#dice{
    width:200px;
     height:200px;
     margin-left:15px;
}
.player img{
    width: 70px;
    height: 70px;
}

