table{
    text-align:center;
    width:600px;
    height:600px;
    /*margin-left:400px;*/

}
table,tr,td{
    border: 1px solid black;

}
td{
   position:sticky;
}
#App-container {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}
#win{
    justify-content: center;
    position: absolute;
}
